<div class="view">
    <h1>Sua Tarefa: {{task.title}}</h1>
    <p>{{task.description}}</p>
    <div class="actions-view">
        <a href="/tasks"><i class="bi bi-arrow-left-square-fill"></i></a>
        <a href="/tasks/edit/{{task.id}}"><i class="bi bi-pencil-square"></i></a>
    </div>
</div>

